  <!-- desktop nav -->
<header class="row align-items-center py-5 px-4 m-0 desktop">
  <div class="d-flex col-5 title">
    <img class="col-4" style="max-width: 6em; height: 100%;" src="{{site.baseurl}}/images/logo.png" />
    <div class="d-flex flex-column">
      <h2 href="#">Butcher Team</h2>
      <h2 href="#"><b>Is The Best</b></h2>
    </div>
  </div>  
  <nav class="d-flex col-4 align-self-end justify-content-end pb-2">
    <a class="col-auto" href="#"><b>PROJECTS</b></a>
    <a class="col-auto" href="#"><b>CONTACT</b></a>
  </nav>
  <div class="d-flex flex-wrap col-3">
    <div class="col-12 pb-3 text-right">
      <img class="px-2" style="max-height: 2em; height: 100%;" src="{{site.baseurl}}/images/github-512.png" />
      <img class="px-2" style="max-height: 2em; height: 100%;" src="{{site.baseurl}}/images/github-512.png" />
    </div>
    <div class="col-12 pb-3 text-right">
      <img class="px-2" style="max-height: 2em; height: 100%;" src="{{site.baseurl}}/images/github-512.png" />
      <img class="px-2" style="max-height: 2em; height: 100%;" src="{{site.baseurl}}/images/github-512.png" />
    </div>
  </div>
</header>




  <!-- mobile nav 
<header>
  <nav class="row flex-column align-items-center px-5 m-0 mobile hidden">
    <img class="col-auto mb-1 mt-2" style="width: 4em;" src="{{site.baseurl}}/images/logo.png" />
    <a class="col-auto" href="#"><b>WORK</b></a>
    <a class="col-auto" href="#"><b>ABOUT</b></a>
    <a class="col-auto" href="#"><b>CONTACT</b></a>
  </nav>
</header>

-->