  <!-- desktop nav -->
<header class="header row align-items-center py-5 px-4 m-0 desktop">
  <div class="d-flex align-items-center col-5">
    <a href="{{site.baseurl}}/">
      <img class="col-4 logo" src="{{site.baseurl}}/images/logo.png" />
    </a>
    <div class="d-flex flex-column title">
      <h2 href="#">Butcher Team</h2>
      <h2 href="#"><b>Is The Best</b></h2>
    </div>
  </div>  
  <nav class="d-flex col-4 align-self-end justify-content-end pb-2">
    <a class="col-auto" href="{{site.baseurl}}/"><b>WORK</b></a>
    <a class="col-auto" href="{{site.baseurl}}/about"><b>ABOUT</b></a>
    <a class="col-auto" href="#"><b>CONTACT</b></a>
  </nav>
  <div class="social d-flex flex-wrap col-3">
    <div class="row col-12 justify-content-end">
      <img class="px-2" style="max-height: 2em; height: 100%;" src="{{site.baseurl}}/images/github-512.png" />
      <img class="px-2" style="max-height: 2em; height: 100%;" src="{{site.baseurl}}/images/github-512.png" />
    </div>
    <div class="row col-12 justify-content-end">
      <img class="px-2" style="max-height: 2em; height: 100%;" src="{{site.baseurl}}/images/github-512.png" />
      <img class="px-2" style="max-height: 2em; height: 100%;" src="{{site.baseurl}}/images/github-512.png" />
    </div>
  </div>
</header>

  <!-- mobile nav -->
<header class="header mobile">
  <div class="row justify-content-between m-0 covers-nav">
    <a class="px-1" href="{{site.baseurl}}/">
      <img class="logo m-2" src="{{site.baseurl}}/images/logo.png" />
    </a>
    <div class="social d-flex align-items-center">
      <img class="mx-2" style="max-height: 1.8em; height: 100%;" src="{{site.baseurl}}/images/github-512.png" />
      <img class="mx-2" style="max-height: 1.8em; height: 100%;" src="{{site.baseurl}}/images/github-512.png" />
      <img class="mx-2" style="max-height: 1.8em; height: 100%;" src="{{site.baseurl}}/images/github-512.png" />
      <img class="mx-2" style="max-height: 1.8em; height: 100%;" src="{{site.baseurl}}/images/github-512.png" />
    </div>
    <div class="menu-button" onclick="navTrigger()">
      <img class="m-2" style="max-height: 2.5em; height: 100%;" src="{{site.baseurl}}/images/menu-button.png" />
    </div>
  </div>
  <nav class="d-flex align-items-center justify-content-between pb-2">
    <a class="col-auto" href="{{site.baseurl}}/"><b>WORK</b></a>
    <a class="col-auto" href="{{site.baseurl}}/about"><b>ABOUT</b></a>
    <a class="col-auto" href="#"><b>CONTACT</b></a>
  </nav>
</header>