.content-margin {
  height: 12em;
  transition: all 0.5s ease-out;
  background: #3cc0c2;

  &.collapsed {
    height: 6em;
    transition: all 0.5s ease-in;
  }

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.mobile-content-margin {
  height: 3.5em;
  background: #3cc0c2;
  transition: all 0.5s ease-in;

  &.expand {
    height: 7em;
    transition: all 0.5s ease-out;
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

// Project module style rules
.project {
  transform: scale(1);
  transition: 0.75s;
  position: relative;
  cursor: pointer;

  .project-title {
    position: absolute;
    opacity: 0;
    transition: 0.75s;
    background: rgba(255,255,255,0.85);
    font-size: $font-size-xlg;
    color: #b48505;
    font-weight: bold;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 2em;
  }

  &:hover {
    transition: 0.75s;

    .project-title {
      opacity: 1;
    }
  }
}

.similar-projects {
  background: $white;
}
